<!doctype html>
<html>
    <head>
        <title>orderList</title>
        <style>th,td {padding:10px;}</style>
    </head>
    <body>
        <h1>주문 목록 페이지</h1>

        <form action="/order" method="POST">
            <input type="submit" value="주문하기"/>
            <input type="button" name="" value="로그아웃" onclick="location.href='/'">
        </form>
        <p></p>
        <table border = 1>
            <tr>
                <th>주문번호</th>
                <th>기종</th>
                <th>색상</th>
                <th>주문상태</th>
            </tr>
            {% for key, value in data.items() %}
            <tr>
                <td><a href="/check/{{ key }}">{{ key }}</a></td>
                <td>{{ value.get('기종') }}</td>
                <td>{{ value.get('색상') }}</td>
                <td>{{ value.get('상태') }}</td>
            </tr>

            {% endfor%}
         </table>
    </body>
</html>
