<!doctype html>
<html>
    <body>
        <h1>주문 목록 페이지</h1>

        <form action="/order" method="POST">
            <input type="submit" value="주문하기"/>
        </form>
        
        <table border = 1>
            <tr>
                <th>주문번호</th>
                <th>기종</th>
                <th>색상</th>
                <th>문구</th>
            </tr>
            {% for key, value in data.items() %}
            <tr>
                <td><a href="/check/{{ key }}">{{ key }}</a></td>
                {% for item in value.values() %}
                    <td> {{ item }} </td>
                {% endfor %}
            </tr>

            {% endfor%}
         </table>
         
    </body>
</html>
