<!doctype html>

<html>
   <head>
      <title>order</title>
      <style>
         .txt1{
             margin: 5px;
         }
     </style>
   </head>
    
    <body>
      <h1> 주문하기 </h1>

      <form id="order" action = "/submit" method = "POST">
        주문자 : <input type ="text" name ="uname" value="" class="txt1"><br>
        핸드폰 번호 : <input type ="text" name="number" value="" class="txt1"><br>

        기종 : <select class="txt1">
             <option name="type">13 mini</option>
             <option name="type">13</option>
             <option name="type">13 pro</option>
             <option name="type">13 pro max</option>
             <option name="type">12 mini</option>
             <option name="type">12/12 pro</option>
             <option name="type">12 pro max</option>
          </select><br>

          색깔: <select class="txt1">
                <option name="color">레드</option>
                <option name="color">네이비</option>
                <option name="color">블랙</option>
                <option name="color">스톤</option>
                <option name="color">인디핑크</option>
                <option name="color">레몬</option>
                <option name="color">블루</option>
             </select><br>

         인쇄 문구 선택: 
            <input type="radio" name ="print" value="yes" class="txt1">네
            <input type="radio" name ="print" value="no" class="txt1">아니오<br>
               
         인쇄 문구 :<br> 
            <textarea name ="" id="" cols="40" rows="5" class="txt1"> </textarea>
      </form>
      
      <input type="submit" value="확인" form="order">
   </body>
</html>

